
body {
  font-family: 'Montserrat', sans-serif;
}


h1 {
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-size: 50px; 
}

.btn-primary {
	background-color: red;
	border-color: red;
}

.btn-primary:hover {
	background-color: red;
	border-color: red;
}


